 * {
     padding: 0;
     margin: 0;
 }

 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     font-family: sans-serif;
     background-color: lightsalmon;

 }

 .container {
     background-color: white;
     padding: 40px 100px;
     border-radius: 8px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

 }

 h1 {
     text-transform: uppercase;
     margin-bottom: 20px;
    text-align: center;
 }

 form div {
     font-size: 18px;
     padding: 10px;
 }

 label {
     font-size: 20px;
     font-weight: 600;
 }

 input {
     width: 100%;
     margin-top: 5px;
     font-size: 18px;
     padding: 2px 0px 2px 5px;
 }

 input::placeholder {
     padding: 4px 6px;
 }
 
 input[type="submit"] 
{
    font-size: 18px;
    font-weight: 600;
    padding-right: 15px;
    background-color: green;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    outline: none;
}

.error
{
    font-size: 22px;
    text-align: center;
    color: red;
}