body
{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.container
{
    background-color: #0f0f0f;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

h1
{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 33px;
}
input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 22px;
    font-weight: 700;
  }

button
{
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.sign
{
    padding: 10px;
    font-size: 22px;
    font-weight: 700;
}
.answer
{
    border:2px solid white;
    border-radius: 8px;
}
.Operation
{
    font-size: 32px;
    padding: 2px;
}