<%- include('nav.ejs') %>
   <div class="row">
          <div class="column">
            <img
              src="Project1.png"
            />
            <div class="card-text">
              <a
                href="https://todo-nizzyfe.netlify.app/"
                target="_blank"
                target="_blank"
                ><h4>TODO LIST PROJECT</h4></a
              >
              <p>
                Create a dynamic To-Do List web project with HTML, CSS, and
                JavaScript, seamlessly combining structure, style, and
                functionality. Easily manage tasks, prioritize items, and mark
                them as complete in this intuitive and user-friendly
                application.
              </p>
            </div>
          </div>

          <div class="column">
            <img
              src="Project2.png"
            />
            <div class="card-text">
              <a
                href="https://digitalclocknizzyfe.netlify.app/"
                target="_blank"
                ><h4>Digital Clock</h4></a
              >
              <p>
                Craft a sleek and functional Digital Clock project using HTML,
                CSS, and JavaScript, delivering real-time timekeeping with
                style. Enjoy a responsive and customizable interface, featuring
                dynamic updates and a visually pleasing design. Elevate your
                website with this practical and aesthetically pleasing addition.
              </p>
            </div>
          </div>

          <div class="column">
            <img
              src="Project3.png"
            />
            <div class="card-text">
              <a
                href="https://form-validation-nizzyfe.netlify.app/"
                target="_blank"
                ><h4>Form Validation JS</h4></a
              >
              <p>
                Enhance your web forms with a Form Validation project, built
                with HTML, CSS, and JavaScript. Ensure data accuracy and
                user-friendly input with real-time error feedback and validation
                checks. Elevate your website's user experience and data
                integrity with this practical and interactive addition.
              </p>
            </div>
          </div>
        </div>
<%- include('footer.ejs') %>
