<%- include('nav.ejs') %>

    <div class="boxes">
      <!-- Row 1 -->
      <div class="row">
          <div class="column">
            <img
              src="Project7.png"
            />
            <div class="card-text">
              <a
                href="https://rock-paper-scissor-nizzyfe.netlify.app/"
                target="_blank"
                ><h4>Rock-Paper-Scissor</h4></a
              >
              <p>
                Develop a Rock-Paper-Scissors web game with HTML, CSS, and
                JavaScript, enabling users to play this classic hand game
                against the computer. Create an engaging user interface that
                provides a responsive and interactive gaming experience,
                allowing users to make their choices and see the results.
              </p>
            </div>
          </div>

          <div class="column">
            <img
              src="Project8.png"
            />
            <div class="card-text">
              <a
                href="https://roll-the-dice-nizzyfe.netlify.app/"
                target="_blank"
              >
                <h4>Roll the Dice</h4></a
              >
              <p>
                Build a Roll the Dice web game using HTML, CSS, and JavaScript,
                where users can simulate rolling dice with different numbers of
                sides. Design an appealing interface that displays random
                results and adds an element of chance and excitement to your
                website, making it an enjoyable addition for users.
              </p>
            </div>
          </div>

          <div class="column">
            <img
              src="Project9.png"
            />
            <div class="card-text">
              <a
                href="https://ticktactoe-nizzyfe.netlify.app/"
                target="_blank"
              >
                <h4>TIC TAC TOE</h4></a
              >
              <p>
                Construct a Tic-Tac-Toe web game with HTML, CSS, and JavaScript,
                offering users the classic grid-based challenge for two players.
                Design a visually pleasing and user-friendly interface, allowing
                users to take turns and compete in this strategy game, promoting
                engagement and entertainment on your website.
              </p>
            </div>
          </div>
    </div>
<%- include('footer.ejs') %>
