<%- include('nav.ejs') %>
    <div class="main">
      <!-- Banner -->
      <div class="banner">
        <img
          src="Banner Image.jpg"
          class="banner"
          alt=""
        />
        <div class="image-text">
          <h1>Hello!</h1>
          <h2>PROJECT 21</h2>
        </div>
      </div>

      <!-- SKill Set -->
      <div class="skillset">
        <h3>Skill Set</h3>
        <div class="skills">
          <div class="skill">
            <i class="fa-brands fa-html5" style="color: #a71c1c"></i>
          </div>
          <div class="skill">
            <i class="fa-brands fa-css3-alt" style="color: #478eff"></i>
          </div>
          <div class="skill">
            <i class="fa-brands fa-js" style="color: #dbc900"></i>
          </div>
          <div class="skill">
            <i class="fa-brands fa-react" style="color: #004dd1"></i>
          </div>
          <div class="skill"><img src="C++.png" alt="" /></div>
          <div class="skill"><img src="Java.png" class="java" alt="" /></div>
        </div>
      </div>

      <!-- Boxes -->
      <div class="boxes">
        <!-- Row 1 -->
        <div class="row">
          <div class="column">
            <img
              src="Project7.png"
            />
            <div class="card-text">
              <a
                href="https://rock-paper-scissor-nizzyfe.netlify.app/"
                target="_blank"
                ><h4>Rock-Paper-Scissor</h4></a
              >
              <p>
                Develop a Rock-Paper-Scissors web game with HTML, CSS, and
                JavaScript, enabling users to play this classic hand game
                against the computer. Create an engaging user interface that
                provides a responsive and interactive gaming experience,
                allowing users to make their choices and see the results.
              </p>
            </div>
          </div>

          <div class="column">
            <img
              src="Project8.png"
            />
            <div class="card-text">
              <a
                href="https://roll-the-dice-nizzyfe.netlify.app/"
                target="_blank"
              >
                <h4>Roll the Dice</h4></a
              >
              <p>
                Build a Roll the Dice web game using HTML, CSS, and JavaScript,
                where users can simulate rolling dice with different numbers of
                sides. Design an appealing interface that displays random
                results and adds an element of chance and excitement to your
                website, making it an enjoyable addition for users.
              </p>
            </div>
          </div>

          <div class="column">
            <img
              src="Project9.png"
            />
            <div class="card-text">
              <a
                href="https://ticktactoe-nizzyfe.netlify.app/"
                target="_blank"
              >
                <h4>TIC TAC TOE</h4></a
              >
              <p>
                Construct a Tic-Tac-Toe web game with HTML, CSS, and JavaScript,
                offering users the classic grid-based challenge for two players.
                Design a visually pleasing and user-friendly interface, allowing
                users to take turns and compete in this strategy game, promoting
                engagement and entertainment on your website.
              </p>
            </div>
          </div>
        </div>
        <!-- ROW 2 -->
        <div class="row">
          <div class="column">
            <img
              src="Project1.png"
            />
            <div class="card-text">
              <a
                href="https://todo-nizzyfe.netlify.app/"
                target="_blank"
                target="_blank"
                ><h4>TODO LIST PROJECT</h4></a
              >
              <p>
                Create a dynamic To-Do List web project with HTML, CSS, and
                JavaScript, seamlessly combining structure, style, and
                functionality. Easily manage tasks, prioritize items, and mark
                them as complete in this intuitive and user-friendly
                application.
              </p>
            </div>
          </div>

          <div class="column">
            <img
              src="Project2.png"
            />
            <div class="card-text">
              <a
                href="https://digitalclocknizzyfe.netlify.app/"
                target="_blank"
                ><h4>Digital Clock</h4></a
              >
              <p>
                Craft a sleek and functional Digital Clock project using HTML,
                CSS, and JavaScript, delivering real-time timekeeping with
                style. Enjoy a responsive and customizable interface, featuring
                dynamic updates and a visually pleasing design. Elevate your
                website with this practical and aesthetically pleasing addition.
              </p>
            </div>
          </div>

          <div class="column">
            <img
              src="Project3.png"
            />
            <div class="card-text">
              <a
                href="https://form-validation-nizzyfe.netlify.app/"
                target="_blank"
                ><h4>Form Validation JS</h4></a
              >
              <p>
                Enhance your web forms with a Form Validation project, built
                with HTML, CSS, and JavaScript. Ensure data accuracy and
                user-friendly input with real-time error feedback and validation
                checks. Elevate your website's user experience and data
                integrity with this practical and interactive addition.
              </p>
            </div>
          </div>
        </div>

        <!-- ROW 3 -->
        <div class="row">
          <div class="column">
            <img
              src="Project4.png"
            />
            <div class="card-text">
              <a
                href="https://weatherapp-nizzyfe.netlify.app/"
                target="_blank"
                ><h4>Weather App</h4></a
              >
              <p>
                Create a Weather App that provides up-to-date weather
                information using HTML, CSS, and JavaScript. Deliver accurate
                forecasts, real-time conditions, and a user-friendly interface
                for users to check the weather at their location or any desired
                destination. Elevate your web application with this informative
                and visually appealing weather tool.
              </p>
            </div>
          </div>

          <div class="column">
            <img
              src="Project5.png"
            />
            <div class="card-text">
              <a
                href="https://advancecalc-nizzyfe.netlify.app/"
                target="_blank"
                ><h4>Calculator</h4></a
              >
              <p>
                Design a Calculator web application using HTML, CSS, and
                JavaScript. Enable users to perform basic and advanced
                mathematical operations with a user-friendly, responsive
                interface. Improve your website's functionality by adding this
                handy and interactive calculator tool.
              </p>
            </div>
          </div>

          <div class="column">
            <img
              src="Project6.png"
            />
            <div class="card-text">
              <a
                href="../Project #9 (Music Player)/index.html"
                target="_blank"
                ><h4>Music Player</h4></a
              >
              <p>
                Develop a Music Player web application with HTML, CSS, and
                JavaScript, allowing users to enjoy their favorite tunes with a
                stylish and interactive interface. Provide features like
                playlist management, volume control, and playback options for a
                seamless audio experience.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
<%- include('footer.ejs') %>