<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>NizzyPedia Projects</title>
  </head>

  <body>
    <div class="nav">
      <ul class="navlist">
        <li>
          <a
            href="/"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/Games"
            >Games</a
          >
        </li>
        <li>
          <a
            href="/Apps"
            >Apps</a
          >
        </li>
        <li>
          <a
            href="/Others"
          >
            Others</a
          >
        </li>
        <li>
          <input type="text" placeholder="Search Here" /><i
            class="fa-solid fa-magnifying-glass"
          >
          </i>
        </li>
      </ul>
    </div>