* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #dce2f0;
    color: #0a174e;
    font-family: sans-serif;
}

.container {
    text-align: center;
}

h1 {
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn {
    position: relative;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 8px;
    position: relative;
    color: #0a174e;
    border-radius: 4px;
    overflow: hidden;
}

.btn span {
    z-index: 1;
    position: relative;
}

.btn::before {
    content: "";
    position: absolute;
    background-color: #0a174e;
    width: 0px;
    height: 0px;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s ease-out, height 0.5s ease-out;
}

.btn:hover::before {
    width: 500px;
    height: 500px;
}

.btn:hover {
    color: #f5d042;
}