* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
.logo img{
    width: 10%;
}

.navbar {
    align-items: center;    
    padding: 20px;
    font-size: 22px;
    overflow: hidden;
    border-bottom: 1px solid gray;
}
.navbar div
{
    display: flex;
    justify-content: space-evenly;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px;
    position: relative;
    padding: 4px 8px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 4px 8px;
}
.nav-links li:hover {
    background-color: rgb(245, 245, 245);
}

input[type="checkbox"]
{   
    width: 20px;
    height: 20px;
}
input[type="checkbox"]:hover
{
    cursor: pointer;
}

.nav-links li:last-child
{
    font-weight: 600;
    background-color: transparent;
    text-transform: uppercase;
}



.Boss li a
{
    color: white;
}
.Boss li:hover {
    background-color: rgb(106, 106, 106);
}