body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f12711;
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    background: linear-gradient(to right, #f5af19, #f12711);
    font-family: cursive;
}

.container {
    backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    backdrop-filter: blur(4px);
    background:rgba(255, 255, 255, 0.1);
}

#Input {
    width: 91%;
    padding: 10px;
    font-size: 22px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
    font-weight: 600;
}

.buttons-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button {
    width: calc(25% - 10px);
    background-color: #f4f4f4;
    color: #333;
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ddd;
}