/* HTML: <div class="loader"></div> */
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #464646;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

/* Hide scrollbar */
body {
  overflow: hidden;
}

/* Ignore this Code as this is for blog */

:root {
  --sidebar-bg-color: #f6f6f6;
  --active-link-color: #000;
  --text-color: #000;
  --progress-bar-color: #000;
  --lightbulb-color: black;
}

body.dark-mode {
  --sidebar-bg-color: #23282d;
  --active-link-color: #00d084;
  --text-color: #fff;
  --progress-bar-color: #00d084;
  --lightbulb-color: white;
}

@media (max-width: 750px) {
  :root {
    --sidebar-bg-color: rgba(240, 240, 240, 0.95);
  }

  body.dark-mode {
    --sidebar-bg-color: rgba(35, 40, 45, 0.95);
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

.header-one {
  margin-top: 0px;
}

#dark-mode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--lightbulb-color);
  font-size: 2rem;
  transition: 350ms;
}

#dark-mode-toggle:hover {
  transform: scale(1.1);
}

#dark-mode-toggle:active {
  transform: scale(0.9);
  transition: transform 100ms;
}

.post-content {
  font-size: 1.2rem;
  margin: 0px 0px 0px 35px;
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 90vw;
  max-width: 900px;
  margin: auto;
}

.intro,
.outro {
  width: 90vw;
  max-width: 900px;
  margin: auto;
  font-size: 1.2rem;
  padding: 20px 0px;
}

.sidebar-wrapper {
  position: sticky;
  top: 25px;
  width: 275px;
  flex: none;
}

.sidebar {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: var(--sidebar-bg-color);
  transition: 250ms;
}

@media (max-width: 750px) {
  .sidebar {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}

.reading-progress-container {
  height: 5px;
  background-color: #e0e0e0;
  margin-top: 25px;
  border-radius: 100px;
}

.reading-progress-bar {
  height: 100%;
  background-color: var(--progress-bar-color);
  border-radius: 100px;
}

.sidebar a {
  display: block;
  padding: 0px 5px;
  margin: 5px 0;
  line-height: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  transition: 250ms;
}

.sidebar-link.active {
  transform: scale(1.05);
  font-weight: bold;
  transform-origin: left;
  transition: transform 0.3s ease, font-weight 0.3s ease;
  color: var(--active-link-color);
}

.author-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: var(--sidebar-bg-color);
  transition: 250ms;
}

@media (max-width: 750px) {
  .author-box {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}

.author-gravatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin: 0px 10px 0px 10px;
}

.author-info {
  display: flex;
  flex-direction: column;
}

.author-name {
  color: var(--text-color);
}

.author-title {
  font-size: 0.75rem;
  color: var(--active-link-color);
}

.sidebar-toggle {
  display: none;
}

@media (max-width: 750px) {
  .sidebar-wrapper {
    position: fixed;
    left: 50%;
    top: 25x;
    width: 90vw;
    transform: translate(-50%, -150%);
    transition: transform 0.5s;
    z-index: 10;
  }

  .sidebar-visible .sidebar-wrapper {
    transform: translate(-50%, 0%);
  }

  .post-content {
    margin: 0px 0px 0px 0px;
  }

  .sidebar-toggle {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    padding: 7px 13px 10px 14px;
    font-size: 24px;
    background-color: #23282d;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
  }

  .sidebar-visible .sidebar-wrapper {
    margin: auto;
    position: fixed;
  }
}
