@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2d3250;
  font-family: "Raleway", cursive;
}
.container {
  background-color: #424769;
  color: #ffffff;
  padding: 20px 100px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  justify-content: center;
}

.container h1 {
  text-align: center;
}
.container a {
  text-decoration: none;
  color: #f9b17a;
}

.form-control input {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid white;
  color: white;
  font-size: 18px;
  padding: 5px 0;
  margin: 23px 0;
}

.form-control {
  position: relative;
}

.form-control label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15px;
  padding: 4px 0;
  pointer-events: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #f9b17a;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
  position: relative;
  z-index: 100;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  font-size: 14px;
  transform: translateY(-30px);
}

/* f9b17a */
/* 676f9d */
